.bodyimage{
background-image: url(/image/microsoftimage.PNG);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
width: 100%;
padding-bottom: 35px;
}
.bodyimage h3{
    margin-left: 55px;
    padding-top: 25px;
}
.bodyimage p{
    margin-left: 55px;
}
.secondfooter p{
    font-size: 0.7em;
}
.firstfooter p{
    font-size: 0.7em;
}

